---
import Heading from "./ui/Heading.astro";
const {title, author, imagePath} = Astro.props; 
---

<div class="bookCard">
    <div class = "wrapper">
        <Heading as="h2"class="text">{title}</Heading>
        <strong class=  "text">{author}</strong>
    </div>
    <img src = {imagePath}/>
</div>

<style>
    .bookCard{
        border-color: #dcdcdc;
        border-width: 2px;
        border-style: solid;
        display: flex;
        gap: 30px;
        width: fit-content;
        padding:10px;
        height: 100%;
        width: 100%;
    }
    img{
        height: 150px;
    }
    .wrapper{
        text-align: center;
        align-items: center;
        width: 100%;
        
    }
    .text{
        font-family: "Inconsolata Variable", sans-serif;
        font-size: 0.85rem;
    }
</style>