---
import Heading from "./Heading.astro";
---

<footer>
  <div>
    <strong>“You miss 100% of the shots you don’t take – Wayne Gretzky”</strong> 
    <p>
      – Michael Scott
    </p>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    line-height: 1.75;
  }
  div{
    display: flex;
  }

</style>
